.main-footer{
  padding: 60px 0;
  background: @bg-white;
  border-top: 4px solid @border-violet;
  .main-menu{
    &__item{
      color: @text-color-light;
      &.active,
      &:hover{
        color: @text-pink;
      }
    }
  }
  .copyright{
    margin-top: 14px;
    color: @text-color-light;
    @media screen and (max-width: @sm-width ) {
      margin-bottom: 20px;
    }
  }
  .socials{
    text-align: right;
    &__item{
      .inline-block;
      width: 50px;
      height: 50px;
      text-align: center;
      cursor: pointer;
      transition: all 1s;
      &:hover{
        opacity: .6;
      }
      .fa{
        font-size: 20px;
        line-height: 50px;
        color: @text-white;
      }
    }
  }
}