.inline-block(@valign: middle) {
  display: inline-block;
  vertical-align: @valign;
}

.line-height(@px) {
  height: @px;
  line-height: @px;
}

/*fonts
====================================*/
.opensans{
  font-family: 'OpenSans';
}
.economica{
  font-family: 'Economica';
}
/*title
==========================*/
.title-big{
  font-size: 30px;
  line-height: 90px;
  color: @text-pink-dark;
}
.title{
  font-size: 22px;
  line-height: 90;
  color: @text-violet;
}



